.checkGroup {
    font-size: 0.9em;
    margin-top: 13px;
}
button{
    padding: 15px;
    background-color: #1db4ff;
    margin: 5px;
    border: 1px solid #222;
    outline: none;
}
button:active{
    background-color: #24b47a;
}